In [1]:
import pandas as ps

In [6]:
lgb_sub = ps.read_csv('../submission/dummy_12.csv').set_index('ID')
lgb_sub.head()

                Score
ID
90102211131  0.076273
90102211133  0.023421
90102216055  0.219267
90102216081  0.169566
90102216084  0.120334

In [7]:
xgb_sub = ps.read_csv('../submission/xgb_dummy_12.csv').set_index('ID')
xgb_sub.head()

                Score
ID
90102211131  0.070987
90102211133  0.040064
90102216055  0.165302
90102216081  0.166178
90102216084  0.148968

In [10]:
blend_sub = (lgb_sub + xgb_sub) / 2
blend_sub = blend_sub.reset_index()
blend_sub.head()

            ID     Score
0  90102211131  0.073630
1  90102211133  0.031743
2  90102216055  0.192284
3  90102216081  0.167872
4  90102216084  0.134651

In [11]:
blend_sub = blend_sub.rename(columns={'OrderID': 'ID', 'CancelFlag': 'Score'})
blend_sub['ID'] = blend_sub['ID'].map(lambda item: f'{item} ')
blend_sub.head()

             ID     Score
0  90102211131   0.073630
1  90102211133   0.031743
2  90102216055   0.192284
3  90102216081   0.167872
4  90102216084   0.134651

In [12]:
blend_sub.to_csv('../submission/dummy_14.csv', index=False)